@model Orcamento.Robo.Web.Models.Carga.CargasModel

<div id="divCargas">
<section id="paginations" >
    <div class="page-header">
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
            <th>Nome do arquivo</th>
            <th>Tipo da carga</th>
            <th>Data/criação do processo</th>
            <th>Data/inicio do processo</th>
            <th>Data/Fim do processo</th>
            <th>Status do processo</th>
            <th>Detalhes</th>
        </thead>
        <tbody id="bodyCarga">

            @if (Model == null || Model.Cargas == null || Model.Cargas.Count <= 0)
            {
                <tr>
                    <td>Sem resuldatos</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            else
            {
                foreach (var carga in Model.Cargas.OrderByDescending(x => x.DataCriacao))
                {
                    <tr>
                        <td>@carga.NomeArquivo</td>
                        <td>@carga.TipoDaCarga</td>
                        <td>@carga.DataCriacao</td>
                        @if (carga.DataInicio.HasValue)
                        {
                            <td>@carga.DataInicio</td>
                        }
                        else
                        {
                            <td>"N/d"</td>
                        }


                        @if (carga.DataFim.HasValue)
                        {
                            <td>@carga.DataFim</td>
                        }
                        else
                        {
                            <td>"N/d"</td>
                        }


                        <td>@carga.Status</td>

                        <td>

                            <a href="javascript:;" onclick="DetalhesCarga('@carga.Id');"  class="btn btn-xs btn-primary">
                                <i class="btn-icon-only icon-ok">Detalhe</i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
     <div  class="panel-heading">
            <h4 class="panel-title" id="ExibeMaisH4">
                <a class="accordion-toggle" onclick="GetMore(this,@Model.Pagina)" data-toggle="collapse" data-parent=".accordion" href="#collapseOne">Exibir Mais
                </a>
            </h4>
        </div>
    
   @* <div class="clearfix uiMorePager uiMorePagerCenter showMore">
    <a class="pam uiBoxLightblue  uiMorePagerPrimary" >Exibir mais</a>
</div>
    <ul class="pagination">
        <li class=""><a href="javascript:;">&larr;Cargas recentes</a></li>

        @foreach (var paginacao in Model.Paginas)
        {
            if(paginacao.selecionado){
                <li class="active"><a href="#">@paginacao.numeroPaginacao</a></li>    
            }else
            {
                <li><a href="#">@paginacao.numeroPaginacao </a></li>    
            }
        }
        <li class=""><a href="javascript:;">Cargas antigas &rarr;</a></li>
    </ul>
    <br />
    <ul class="pager" style="text-align: left;">
    </ul>*@
</section>
    </div>
<script src="../../Scripts/../js/Funcionalidades/Paginacao.js"></script>
<script type="text/javascript">

    function Recentes() {
        
  
    }
    
    function Ultimas() {
        

    }

</script>




